src/META-INF/wsdl/localhost_50516/Service1.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:50516/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Lib"/><xs:element name="GetAllClients"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllClientsResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllClientsResult" nillable="true" type="q1:ArrayOfClient" xmlns:q1="http://schemas.datacontract.org/2004/07/Lib"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetAllAgencyes"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllAgencyesResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllAgencyesResult" nillable="true" type="q2:ArrayOfAgency" xmlns:q2="http://schemas.datacontract.org/2004/07/Lib"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetAllAccounts"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllAccountsResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q3:ArrayOfAccount" xmlns:q3="http://schemas.datacontract.org/2004/07/Lib"/></xs:sequence></xs:complexType></xs:element></xs:schema>